body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #edd2e2;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
  }

  .container {
    text-align: center;
  }

  h1 {
    
    font-size: 2.5em;
    color: #e67daa;
  }

  .buttons {
    margin-top: 23px;
  }

  .yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 30px;
    background-color: #89df8c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #eb7687;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .gif_container img {
    max-width: 50%;
    height: auto;
    border-radius: 0px;
    margin-top: 10px;
  }